//             __ _
//            / _(_)
//  _ __ ___ | |_ _
// | '__/ _ \|  _| |
// | | | (_) | | | |
// |_|  \___/|_| |_|

configuration {
    modi: "drun";
    width: 40;
    lines: 25;
    font: "Hack Nerd Font 10";
    show-icons: true;
    scroll-method: 1;
    theme: "gruvbox-dark";
    display-drun: "Run";
}
