//             __ _
//            / _(_)
//  _ __ ___ | |_ _
// | '__/ _ \|  _| |
// | | | (_) | | | |
// |_|  \___/|_| |_|

configuration {
    modi: "combi";
    combi-modi: "window,drun";
    width: 40;
    lines: 30;
    matching: "fuzzy";
    font: "Hack Nerd Font 10";
    show-icons: true;
    scroll-method: 1;
    theme: "nord";
    display-drun: "Run";
    icon-theme: "Papirus-nord-folders";
}
